# Git
.git
.gitignore

# Node
node_modules
npm-debug.log
yarn-error.log

# Build
dist
build
target

# IDE
.vscode
.idea
*.iml

# OS
.DS_Store
Thumbs.db

# Documentation
README.md
docs

# Tests
test
.test
coverage

# CI/CD
.github
.gitlab-ci.yml
.travis.yml
