<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">

    <!-- ========================= -->
    <!-- PROPRIÉTÉS GLOBALES -->
    <!-- ========================= -->
    <property name="APP_NAME" value="collecte-epargne-backend"/>
    <property name="LOG_PATH" value="logs"/>
    <property name="LOG_PATTERN"
              value="%d{yyyy-MM-dd HH:mm:ss} %-5level [%thread] %logger{36} - %msg%n"/>

    <!-- ========================= -->
    <!-- APPENDER CONSOLE -->
    <!-- ========================= -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- ========================= -->
    <!-- APPENDER FICHIER -->
    <!-- ========================= -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/${APP_NAME}.log</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- Un fichier par jour -->
            <fileNamePattern>${LOG_PATH}/${APP_NAME}-%d{yyyy-MM-dd}.log</fileNamePattern>

            <!-- Garder 30 jours de logs -->
            <maxHistory>30</maxHistory>
        </rollingPolicy>

        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- ========================= -->
    <!-- LOGS DU PROJET -->
    <!-- ========================= -->
    <logger name="com.collecte_epargne" level="DEBUG" additivity="false">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </logger>

    <!-- ========================= -->
    <!-- LOGS SPRING / HIBERNATE -->
    <!-- ========================= -->
    <logger name="org.springframework" level="INFO"/>
    <logger name="org.hibernate.SQL" level="INFO"/>
    <logger name="org.hibernate.type.descriptor.sql.BasicBinder" level="TRACE"/>

    <!-- ========================= -->
    <!-- LOG ROOT -->
    <!-- ========================= -->
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </root>

</configuration>