name: Backend CI

on: [push, pull_request]

jobs:
  backend-build:
    runs-on: ubuntu-latest

    steps:
      - name: Récupérer le code
        uses: actions/checkout@v4

      - name: Installer Java
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Build backend
        working-directory: backend/collecte-epargne-backend
        run: mvn clean install -DskipTests
